---

# **Exercícios**

## 1\. Google Colab

Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando `print`.

In [ ]:
print("Olá mundo")

Olá mundo

Crie uma célua de texto e adicione uma imagem.

![Screenshot_1.png]()

---

## 2\. Números

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:

<br>

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|--------------|
| 19/01 | (A)                | 3                | 320.52       |
| 20/01 | 834.47             | (B)              | 119.21       |
| 23/01 | 15378.12           | 5                | (C)          |

In [ ]:
# (A)
qnt_Total_vendas = 3
Ticket_medio = 320.52
A = qnt_Total_vendas*Ticket_medio
print(A)

961.56

In [ ]:
# (B)
Valor_Total_Vendas = 834.47
Ticket_medio = 119.21
B = Valor_Total_Vendas/Ticket_medio
print(int(B))

7

In [3]:
# (C)
Valor_Total_Vendas = 15378.12
qnt_Total_vendas = 5
C = Valor_Total_Vendas/qnt_Total_vendas
print(round(float(C),2))

3075.62

---

## 3\. Strings

Aplique três métodos distintos na *string* abaixo, você pode conferir alguns métodos neste [link](https://www.w3schools.com/python/python_ref_string.asp):

In [ ]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'
print(cancao.upper())
print(cancao.isnumeric())
print(cancao.strip())

RODA MUNDO, RODA GIGANTE, RODA MOINHO, RODA PIÃO.
False
Roda mundo, roda gigante, roda moinho, roda pião.

Extraia da string abaixo o valor da taxa **selic** na variável `selic` e o valor do **ano** na variavel `ano`. Imprima os valores na tela.

In [12]:
noticia = 'Selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.'
selic = noticia.find('2,75%')
ano = noticia.find('anos')
print(noticia[12:16])
print(noticia[62])

2,75
6

---

## 4\. Booleanos

Utilize a tabela da verdade para responder: qual o valor da variável x?

In [ ]:
a = False
b = True

x = not a & b

print(x)

True