<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | SQL: Trabalhando com Múltiplas Tabelas
Caderno de **Exercícios**<br> 
Professor [Mariane Neiva](www.linkedin.com/in/mariane-neiva)

---

# **Tópicos**

<ol type="1">
  <li>Union;</li>
  <li>Junções: inner / cross;</li>
  <li>Junções: left / right;</li>
</ol>

---

# **Instruções**

Neste exercícios, vamos configurar e testar os serviços AWS S3 e AWS Athena da plataforma de computação em nuvem da AWS para utilizarmos durante todo o curso: 

Na etapa de **configuração**, você deve seguir o passo a passo de configuração do ambiente, não há entregáveis.

Na etapa de **atividades**, você deve:

 1. Eexecutar a consulta SQL fornecida;
 2. Exportar os resultados em um arquivo csv para sua máquina; 
 3. Renomear o arquivo como **query_\<numero-da-query>.csv**;
 4. Enviar para a avaliação do tutor na plataforma da EBAC.

> **Atenção**: Substitua o **\<numero-da-query>** numero da consulta, exemplo: **query_1.csv**.

---

# **Configuração**

## 1\. Configurando o AWS S3

1. Acesse AWS S3;
2. Crie um novo bucket:
 *   **modulo6-<seu-nome\>-ebac** 
3. Crie duas pastas dentro do bucket **modulo6-<seu-nome\>-ebac**:
 *   **cliente**
 * **transacoes**
4. Na pasta modulo6-<seu-nome\>-ebac/cliente, carregue o arquivo **cliente.csv**
5. Na pasta modulo6-<seu-nome\>-ebac/transacoes, carregue o arquivo **transacoes.csv**

> **Atenção**: Caso o bucket já exista, sinta-se a vontade para escolher o nome que desejar.

 > **Atenção**: Os arquivo **cliente.csv** e **transacoes.csv** está na plataforma da EBAC.

# Atividades

# **1. Criação da tabela**

No console do AWS Athena, execute a seguinte query:

```sql
CREATE EXTERNAL TABLE IF NOT EXISTS default.cliente (
  `id_cliente` int,
  `nome` string, 
  `valor_compra` double,
  `loja_cadastro` string 
)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe'
WITH SERDEPROPERTIES (
  'serialization.format' = ',',
  'field.delim' = ','
) LOCATION 's3://modulo-33/clientes/'
TBLPROPERTIES ('has_encrypted_data'='false');
```
e

```sql
CREATE EXTERNAL TABLE IF NOT EXISTS default.transacoes (
  `id_cliente` int,
  `id_transacao` int,
  `valor_compra` double,
  `id_loja` string 
)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe'
WITH SERDEPROPERTIES (
  'serialization.format' = ',',
  'field.delim' = ','
) LOCATION 's3://modulo-33/transacoes/'
TBLPROPERTIES ('has_encrypted_data'='false');
```

Para cada uma das queries, no painel de resultados, você deve encontrar o seguinte resultado.

```
Query successful.
```


> **Atenção**: No campo LOCATION, substitua o **\<seu-nome>** pelo seu primeiro nome, exemplo: **modulo6-mari-ebac**.

> **Atenção**: Nesta atividade, você não precisa exportar os resultados.

# **2. Função UNION**

## 2.1. Query 1

No console do AWS Athena, execute a seguinte query:

```sql
SELECT id_cliente FROM transacoes
UNION
SELECT id_cliente  FROM cliente;
```



|id_cliente|
|-|
|3|
|1|
|4|
|5|
|6|
|2|

> **Atenção**: Extraia os resultados para o arquivo CSV através do botão de download e renomei-o com o número da query. Voce deve envia-lo para os tutores de EBAC.

# **3.Junções inner/cross**

Vamos trabalhar agora a união inner e cruzamento de tabelas

## 3.1 Query 2 

No console do AWS Athena, execute a seguinte query:

```sql
SELECT transacoes.id_cliente, cliente.nome
FROM transacoes
INNER JOIN cliente
ON transacoes.id_cliente = cliente.id_cliente;
```



|id_cliente|nome|
|-|-|
|1|maria|
|2|valentina
|1|maria|
|1|maria|
|4|joana|
|5|jose|

> **Atenção**: Extraia os resultados para o arquivo CSV através do botão de download e renomei-o com o número da query. Voce deve envia-lo para os tutores de EBAC.

## 3.2. Query 3

No console do AWS Athena, execute a seguinte query:

```sql
SELECT *
FROM cliente
CROSS JOIN transacoes;
```

|id_cliente|nome|valor_compra|loja_cadastro|id_cliente|id_transacao|valor_compra|id_loja|
|-|----|------|------|-|---------|-----|------|
|5|jose|500.43|magalu|1|768805383|50.74|magalu|
5|jose|500.43|magalu|2|768805399|30.9|giraffas|
5|jose|500.43|magalu|3|818770008|110.0|postoshell|
5|jose|500.43|magalu|1|76856563|2000.9|magalu|
5|jose|500.43|magalu|1|767573759|15.7|subway|
5|jose|500.43|magalu|3|818575758|2.99|seveneleven|
5|jose|500.43|magalu|4|764545534|50.74|extra|
5|jose|500.43|magalu|5|76766789|10.0|subway|
5|jose|500.43|magalu|3|8154567758|1100.0|shopee|
1|maria|150.7|subway|1|768805383|50.74|magalu|
1|maria|150.7|subway|2|768805399|30.9|giraffas|
1|maria|150.7|subway|3|818770008|110.0|postoshell|
1|maria|150.7|subway|1|76856563|2000.9|magalu|
1|maria|150.7|subway|1|767573759|15.7|subway|
1|maria|150.7|subway|3|818575758|2.99|seveneleven|
1|maria|150.7|subway|4|764545534|50.74|extra|
1|maria|150.7|subway|5|76766789|10.0|subway|
1|maria|150.7|subway|3|8154567758|1100.0|shopee|
2|valentina|210.99|postoshell|1|768805383|50.74|magalu|
2|valentina|210.99|postoshell|2|768805399|30.9|giraffas|
2|valentina|210.99|postoshell|3|818770008|110.0|postoshell|
2|valentina|210.99|postoshell|1|76856563|2000.9|magalu|
2|valentina|210.99|postoshell|1|767573759|15.7|subway|
2|valentina|210.99|postoshell|3|818575758|2.99|seveneleven|
2|valentina|210.99|postoshell|4|764545534|50.74|extra|
2|valentina|210.99|postoshell|5|76766789|10.0|subway|
2|valentina|210.99|postoshell|3|8154567758|1100.0|shopee|
4|joana|1300.5|magalu|1|768805383|50.74|magalu|
4|joana|1300.5|magalu|2|768805399|30.9|giraffas|
4|joana|1300.5|magalu|3|818770008|110.0|postoshell|
4|joana|1300.5|magalu|1|76856563|2000.9|magalu|
4|joana|1300.5|magalu|1|767573759|15.7|subway|
4|joana|1300.5|magalu|3|818575758|2.99|seveneleven|
4|joana|1300.5|magalu|4|764545534|50.74|extra|
4|joana|1300.5|magalu|5|76766789|10.0|subway|
4|joana|1300.5|magalu|3|8154567758|1100.0|shopee|
6|fernando|86.55|seveneleven|1|768805383|50.74|magalu|
6|fernando|86.55|seveneleven|2|768805399|30.9|giraffas|
6|fernando|86.55|seveneleven|3|818770008|110.0|postoshell|
6|fernando|86.55|seveneleven|1|76856563|2000.9|magalu|
6|fernando|86.55|seveneleven|1|767573759|15.7|subway|
6|fernando|86.55|seveneleven|3|818575758|2.99|seveneleven|
6|fernando|86.55|seveneleven|4|764545534|50.74|extra|
6|fernando|86.55|seveneleven|5|76766789|10.0|subway|
6|fernando|86.55|seveneleven|3|8154567758|1100.0|shopee|


> **Atenção**: Extraia os resultados para o arquivo CSV através do botão de download e renomei-o com o número da query. Voce deve envia-lo para os tutores de EBAC.

# **4. Junções: left / right**

## 4.1 Query 4

No console do AWS Athena, execute a seguinte query:

```sql
SELECT *
FROM transacoes
LEFT JOIN cliente 
ON cliente.id_cliente = transacoes.id_cliente;
```

|id_cliente|id_transacao|valor_compra|id_loja|id_cliente|nome|valor_compra|loja_cadastro|
|-|---------|-----|------|-|-----|-----|------|
|1|768805383|50.74|magalu|1|maria|150.7|subway|
2|768805399|30.9|giraffas|2|valentina|210.99|postoshell|
3|818770008|110.0|postoshell|
1|76856563|2000.9|magalu|1|maria|150.7|subway|
1|767573759|15.7|subway|1|maria|150.7|subway|
3|818575758|2.99|seveneleven|
4|764545534|50.74|extra|4|joana|1300.5|magalu|
5|76766789|10.0|subway|5|jose|500.43|magalu|
3|8154567758|1100.0|shopee|


> **Atenção**: Extraia os resultados para o arquivo CSV através do botão de download e renomei-o com o número da query. Voce deve envia-lo para os tutores de EBAC.

## 4.2 Query 5

No console do AWS Athena, execute a seguinte query:

```sql
SELECT *
FROM transacoes
RIGHT JOIN cliente 
ON cliente.id_cliente = transacoes.id_cliente;
```

|id_cliente|id_transacao|valor_compra|id_loja|id_cliente|nome|valor_compra|loja_cadastro|
|-|---------|-----|------|-|-----|-----|------|
|1|768805383|50.74|magalu|1|maria|150.7|subway|
2|768805399|30.9|giraffas|2|valentina|210.99|postoshell|
1|76856563|2000.9|magalu|1|maria|150.7|subway|
1|767573759|15.7|subway|1|maria|150.7|subway|
4|764545534|50.74|extra|4|joana|1300.5|magalu|
5|76766789|10.0|subway|5|jose|500.43|magalu|
| | | | |6|fernando|86.55|seveneleven|

> **Atenção**: Extraia os resultados para o arquivo CSV através do botão de download e renomei-o com o número da query. Voce deve envia-lo para os tutores de EBAC.